body {
    margin: 0;
    padding: 0;
}

.menu-bar {
    font-family: 'Times New Roman', Times, serif, Arial, sans-serif;
    background-color: #bdb5b5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img {
    height: 100px;
    padding: 10px;
    /* Adjust the size of the logo as needed */
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.nav-links li+li::before {
    content: "|";
    /* Adjust space between text and line */
    color: whitesmoke;
    /* Light red color */
    margin-right: 15px;
    /* Space between line and next button */
}

.nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #575757;
}

.login {
    display: flex;
    /* Ensure the container holding the link is flex */
    align-items: center;
    /* Vertically center the login button */
}

.login a {
    display: inline-block;
    /* Ensure it behaves like a button */
    color: white;
    background-color: #a09a9a;
    /* Light red background */
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.login a:hover {
    background-color: #575757;
    /* Darker red when hovered */
}