/* Video Section */
.about-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d2b48c;
    padding: 40px;
    margin: 0px;
    border-radius: 3px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-video h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

/* Wrapper for video and thumbnail */
.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

/* Thumbnail placeholder */
.video-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Play button styling */
.video-thumbnail .play-button {
    position: absolute;
    color: #fff;
    font-size: 48px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0px 0px;
    pointer-events: none;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* Iframe video styling */
iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}